package llmchat

import (
	"context"
	"fmt"
	"iter"

	"{{.Module}}/pkg/session"

	"google.golang.org/adk/agent"
	"google.golang.org/adk/runner"
	adk_session "google.golang.org/adk/session"
	"google.golang.org/genai"
)

const MaxContextLen = 10

type Chat struct {
	runner  *runner.Runner
	session *session.Session
}

func (c *Chat) Name() string {
	return c.session.AppName()
}

// Ask 问答
func (c *Chat) Ask(ctx context.Context, userId, text string) (iter.Seq2[*adk_session.Event, error], error) {
	sid, err := c.session.GetOrCreate(ctx, userId)
	if err != nil {
		return nil, err
	}

	return c.runner.Run(
		ctx,
		userId,
		sid,
		genai.NewContentFromText(text, genai.RoleUser),
		agent.RunConfig{
			StreamingMode: agent.StreamingModeSSE,
		},
	), nil
}

func (c *Chat) Close() error {
	fmt.Println("⌛️", "close llmchat ...")
	if c.session != nil {
		return c.session.Close()
	}
	return nil
}

func NewChat(agent agent.Agent, session *session.Session) (*Chat, error) {
	// Runner
	r, err := runner.New(runner.Config{
		AppName:        session.AppName(),
		Agent:          agent,
		SessionService: session.Service(),
	})
	if err != nil {
		return nil, err
	}

	fmt.Println("✅", "llmchat success")

	return &Chat{
		runner:  r,
		session: session,
	}, nil
}
