package cache

import (
	"context"
	"encoding/json"
	"errors"
	"time"

	"github.com/redis/go-redis/v9"
)

func Get[T any](ctx context.Context, cli redis.UniversalClient, key string, fn func(ctx context.Context) (T, error), ttl time.Duration) (T, error) {
	var ret T

	if cli == nil {
		return ret, ErrClientNil
	}

	str, err := cli.Get(ctx, key).Result()
	if err != nil {
		if !errors.Is(err, redis.Nil) {
			return ret, err
		}

		// 缓存未命中，调用fn获取数据
		data, _err := fn(ctx)
		if _err != nil {
			return ret, _err
		}
		// 缓存数据
		if b, _err := json.Marshal(data); _err == nil {
			cli.Set(ctx, key, b, ttl)
		}
		return data, nil
	}
	err = json.Unmarshal([]byte(str), &ret)
	return ret, err
}
