package middleware

import (
	"context"
	"log/slog"
	"time"

	"google.golang.org/grpc"
)

const HealthCheckMethod = "/grpc.health.v1.Health/Check"

func Log(ctx context.Context, req any, info *grpc.UnaryServerInfo, handler grpc.UnaryHandler) (resp any, err error) {
	now := time.Now()

	defer func() {
		if info.FullMethod == HealthCheckMethod {
			return
		}

		if err != nil {
			slog.ErrorContext(ctx, info.FullMethod,
				slog.Any("request", req),
				slog.String("error", err.Error()),
				slog.String("duration", time.Since(now).String()),
			)
			return
		}

		slog.InfoContext(ctx, info.FullMethod,
			slog.Any("request", req),
			slog.Any("response", resp),
			slog.String("duration", time.Since(now).String()),
		)
	}()

	resp, err = handler(ctx, req)
	return
}
