package middleware

import (
	"context"
	"time"

	"github.com/prometheus/client_golang/prometheus"
	"google.golang.org/grpc"
)

var (
	// 请求次数
	reqCnt = prometheus.NewCounterVec(prometheus.CounterOpts{
		Name: "request_count",
		Help: "Total number of gRPC requests",
	}, []string{"method", "status"})

	// 请求时长
	reqDur = prometheus.NewHistogramVec(prometheus.HistogramOpts{
		Name: "request_duration",
		Help: "gRPC request duration (ms)",
	}, []string{"method", "status"})
)

func init() {
	prometheus.MustRegister(reqCnt)
	prometheus.MustRegister(reqDur)
}

// Monitor 监控
func Monitor(ctx context.Context, req interface{}, info *grpc.UnaryServerInfo, handler grpc.UnaryHandler) (resp interface{}, err error) {
	now := time.Now().Local()

	defer func() {
		status := "OK"
		if err != nil {
			status = "ERR"
		}

		// 请求次数
		reqCnt.WithLabelValues(info.FullMethod, status).Inc()

		// 请求时长
		reqDur.WithLabelValues(info.FullMethod, status).Observe(float64(time.Since(now).Milliseconds()))
	}()

	resp, err = handler(ctx, req)
	return
}
