package middleware

import (
	"context"
	"fmt"
	"log/slog"
	"runtime/debug"

	"google.golang.org/grpc"
)

func Recovery(ctx context.Context, req any, _ *grpc.UnaryServerInfo, handler grpc.UnaryHandler) (resp any, err error) {
	defer func() {
		if e := recover(); e != nil {
			err = fmt.Errorf("panic occurred: %+v", e)
			slog.ErrorContext(ctx, "panic recovered", slog.Any("request", req), slog.Any("err", e), slog.String("stack", string(debug.Stack())))
			return
		}
	}()
	return handler(ctx, req)
}
