package middleware

import (
	"context"

	"{{.Module}}/pkg/code"
	"{{.Module}}/pkg/status"

	"github.com/noble-gase/ne/protos"
	"google.golang.org/grpc"
	"google.golang.org/protobuf/proto"
)

func Validator(ctx context.Context, req any, _ *grpc.UnaryServerInfo, handler grpc.UnaryHandler) (any, error) {
	msg, ok := req.(proto.Message)
	if ok {
		if err := protos.Validate(msg); err != nil {
			return nil, status.Error(ctx, code.ErrParams.WithMsg(err.Error()))
		}
	}
	return handler(ctx, req)
}
