package pkg

import (
	"{{.Module}}/pkg/dingtalk"
	"{{.Module}}/pkg/llmchat"
	"{{.Module}}/pkg/session"

	"github.com/noble-gase/ne/sqlkit"
)

type Config struct {
	AppName  string
	LLMAgent llmchat.Config
	Session  sqlkit.Config
	Chatbot  dingtalk.Config
}

type Assistant struct {
	bot *dingtalk.Bot
}

func (a *Assistant) Start() {
	a.bot.Start()
}

func (a *Assistant) Stop() {
	a.bot.Stop()
}

func NewAssistant(cfg *Config) (*Assistant, error) {
	// Session
	session, err := session.New(cfg.AppName, &cfg.Session)
	if err != nil {
		return nil, err
	}

	// Agent
	agent, err := llmchat.NewAgent(cfg.AppName, &cfg.LLMAgent)
	if err != nil {
		return nil, err
	}

	// Chat
	chat, err := llmchat.NewChat(agent, session)
	if err != nil {
		return nil, err
	}

	// Dingtalk
	bot, err := dingtalk.NewBot(&cfg.Chatbot, chat)
	if err != nil {
		return nil, err
	}
	return &Assistant{bot: bot}, nil
}
