package {{.AppName}}

import (
	"context"
	"fmt"
	"runtime/debug"

	"{{.Module}}/pkg/db"
	"{{.Module}}/pkg/log"

	"entgo.io/ent/dialect"
	"go.uber.org/zap"
)

var DB *Client

func Init(ctx context.Context, cfgName string) {
	driver, err := db.InitDBDriver(dialect.MySQL, cfgName)
	if err != nil {
		log.Panic(ctx, "数据库初始化失败", zap.Error(err))
	}
	DB = NewClient(Driver(driver))
}

// Transaction Executes ent transaction with callback function.
// The provided context is used until the transaction is committed or rolledback.
func Transaction(ctx context.Context, fn func(ctx context.Context, tx *Tx) error) (err error) {
	tx, _err := DB.Tx(ctx)
	if _err != nil {
		err = fmt.Errorf("begin transaction: %w", _err)
		return
	}

	defer func() {
		if r := recover(); r != nil {
			err = fmt.Errorf("transaction panic recovered: %+v", r)
			if err_ := tx.Rollback(); err_ != nil {
				err = fmt.Errorf("%w: rollback: %w", err, err_)
			}
			err = fmt.Errorf("%w\n%s", err, string(debug.Stack()))
		}
	}()

	if err = fn(ctx, tx); err != nil {
		if err_ := tx.Rollback(); err_ != nil {
			err = fmt.Errorf("%w: transaction rollback: %w", err, err_)
		}
		return
	}

	if _err = tx.Commit(); _err != nil {
		err = fmt.Errorf("transaction commit: %w", _err)
		return
	}
	return
}

func Close() {
	if DB != nil {
		_ = DB.Close()
	}
}
