package cache

import (
	"errors"

	"github.com/redis/go-redis/v9"
)

var uc redis.UniversalClient

func Init() {
	uc = New("redis")
}

func R() redis.UniversalClient {
	if uc == nil {
		panic(errors.New("redis client is nil (forgotten initialize?)"))
	}
	return uc
}
