package cmd

import (
	"context"
	"fmt"

	"github.com/urfave/cli/v3"
)

func hello() *cli.Command {
	return &cli.Command{
		Name:        "hello",
		Description: "demo command",
		Flags: []cli.Flag{
			&cli.StringFlag{
				Name:    "name",
				Aliases: []string{"N"},
				Usage:   "specify the name",
				Value:   "world",
			},
		},
		Action: func(ctx context.Context, cmd *cli.Command) error {
			fmt.Println("hello", cmd.String("name"))
			return nil
		},
	}
}
