package cmd

import (
	"context"
	"os"

	"{{.Module}}/pkg/log"

	"github.com/urfave/cli/v3"
	"go.uber.org/zap"
)

func Init() {
	cmd := root()

	// 注册子命令
	cmd.Commands = []*cli.Command{
		hello(),
	}

	// 执行命令
	ctx := context.Background()
	if err := cmd.Run(ctx, os.Args); err != nil {
		log.Error(ctx, "cmd run failed", zap.Error(err))
	}
}
