package cmd

import (
	"context"
	"os"

	"github.com/urfave/cli/v3"
)

func Init() {
	cmd := root()

	// 注册子命令
	cmd.Commands = []*cli.Command{
		hello(),
	}

	// 执行命令
	if err := cmd.Run(context.Background(), os.Args); err != nil {
		panic(err)
	}
}
