package config

import (
	"fmt"
	"sync"

	"{{.Module}}/pkg/log"

	"github.com/spf13/viper"
)

// Init 初始化资源
func Init(cfgFile string) {
	// 初始化配置
	viper.SetConfigFile(cfgFile)
	if err := viper.ReadInConfig(); err != nil {
		panic(fmt.Errorf("配置读取失败: %w",err))
	}
	viper.WatchConfig()

	// 初始化日志
	log.Init()
	// TODO: 其它初始化操作，如：数据库等
	// ent.Init("db")
}

var once sync.Once

// CleanUp 清理资源
func CleanUp() {
	once.Do(func() {
		// 关闭数据库连接
		// ent.Close()

		// 关闭日志
		log.Close()
	})
}
