package middleware

import (
	"net/http"

	"{{.Module}}/pkg/internal/identity"

	"github.com/noble-gase/ne"
)

// Identity parse identity into context
func Identity(next http.Handler) http.Handler {
	return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		if token := r.Header.Get(ne.HeaderAuthorization); len(token) != 0 {
			ctx := identity.NewContext(r.Context(), token)
			next.ServeHTTP(w, r.WithContext(ctx))
			return
		}
		next.ServeHTTP(w, r)
	})
}
