package greeter

import (
	"context"
	"fmt"
	"testing"

	"{{.Module}}/internal/{{.AppPkg}}/config"
)

func TestMain(m *testing.M) {
	// 初始化
	config.Init("../../config.toml")
	// 执行测试
	m.Run()
	// 关闭资源
	config.CleanUp()
}

func TestHello(t *testing.T) {
	ctx := context.Background()

	req := &ReqHello{
		Name: "world",
	}
	ret := Hello(ctx, req)
	fmt.Println("[Result] ---", ret)
}
