package curd

import (
	"context"
	"database/sql"
	"errors"
	"log/slog"

	. "github.com/go-jet/jet/v2/mysql"
	"github.com/go-jet/jet/v2/qrm"
)

// Create 创建记录
//
//	// 导入模块
//	import . "github.com/go-jet/jet/v2/mysql"
//
//	// 语句示例
//	table.Demo.INSERT(table.Demo.Name).VALUES("hello")
//	table.Demo.INSERT(table.Demo.Name).MODEL(model.Demo{Name: "hello"})
//
//	// 批量插入
//	table.Demo.INSERT(table.Demo.Name).VALUES("hello").VALUES("world")
//	table.Demo.INSERT(table.Demo.Name).MODELS([]model.Demo{{Name: "hello"}, {Name: "world"}})
//
//	// 创建方法
//	db.Create(ctx, db.DB(), stmt)
func Create(ctx context.Context, db *sql.DB, stmt InsertStatement) (int64, error) {
	// SQL日志
	slog.InfoContext(ctx, UglySQL(stmt.DebugSql()))

	ret, err := stmt.ExecContext(ctx, db)
	if err != nil {
		return 0, err
	}

	id, _ := ret.LastInsertId()
	return id, nil
}

// Update 更新记录
//
//	// 导入模块
//	import . "github.com/go-jet/jet/v2/mysql"
//
//	// 语句示例
//	table.Demo.UPDATE(table.Demo.Name).SET("hello").WHERE(table.Demo.ID.EQ(Int64(1)))
//	table.Demo.UPDATE(table.Demo.Name).MODEL(model.Demo{Name: "hello"}).WHERE(table.Demo.ID.EQ(Int64(1)))
//
//	// 更新方法
//	db.Update(ctx, db.DB(), stmt)
func Update(ctx context.Context, db *sql.DB, stmt UpdateStatement) (int64, error) {
	// SQL日志
	slog.InfoContext(ctx, UglySQL(stmt.DebugSql()))

	ret, err := stmt.ExecContext(ctx, db)
	if err != nil {
		return 0, err
	}

	rows, _ := ret.RowsAffected()
	return rows, nil
}

// Delete 删除记录
//
//	// 导入模块
//	import . "github.com/go-jet/jet/v2/mysql"
//
//	// 语句示例
//	table.Demo.DELETE().WHERE(table.Demo.ID.EQ(Int64(1)))
//
//	// 删除方法
//	db.Delete(ctx, db.DB(), stmt)
func Delete(ctx context.Context, db *sql.DB, stmt DeleteStatement) (int64, error) {
	// SQL日志
	slog.InfoContext(ctx, UglySQL(stmt.DebugSql()))

	ret, err := stmt.ExecContext(ctx, db)
	if err != nil {
		return 0, err
	}

	rows, _ := ret.RowsAffected()
	return rows, nil
}

// FindOne 查询一条记录
//
//	// 导入模块
//	import . "github.com/go-jet/jet/v2/mysql"
//
//	// 语句示例
//	table.Demo.SELECT(table.Demo.AllColumns).WHERE(table.Demo.ID.EQ(Int64(1)))
//	SELECT(table.Demo.AllColumns).FROM(table.Demo).WHERE(table.Demo.ID.EQ(Int64(1)))
//
//	// 查询方法
//	db.FindOne[model.Demo](ctx, db.DB(), stmt)
func FindOne[T any](ctx context.Context, db *sql.DB, stmt SelectStatement) (*T, error) {
	stmt = stmt.LIMIT(1)

	// SQL日志
	slog.InfoContext(ctx, UglySQL(stmt.DebugSql()))

	var dest T
	if err := stmt.QueryContext(ctx, db, &dest); err != nil {
		if !errors.Is(err, qrm.ErrNoRows) {
			return nil, err
		}
		return nil, nil
	}
	return &dest, nil
}

// FindOneF 查询一条记录
//
//	// 导入模块
//	import . "github.com/go-jet/jet/v2/mysql"
//
//	// 查询方法
//	return db.FindOneF[model.Demo](ctx, db.DB(), func(query SelectStatement) SelectStatement {
//		return query.FROM(table.Demo.Table).WHERE(table.Demo.ID.EQ(Int64(1)))
//	}, table.Demo.AllColumns...)
func FindOneF[T any](ctx context.Context, db *sql.DB, fn func(query SelectStatement) SelectStatement, cols ...Column) (*T, error) {
	if len(cols) == 0 {
		return nil, errors.New("missing table columns")
	}

	stmt := fn(SELECT(ColumnList(cols))).LIMIT(1)

	// SQL日志
	slog.InfoContext(ctx, UglySQL(stmt.DebugSql()))

	var dest T
	if err := stmt.QueryContext(ctx, db, &dest); err != nil {
		if !errors.Is(err, qrm.ErrNoRows) {
			return nil, err
		}
		return nil, nil
	}
	return &dest, nil
}

// FindAll 查询多条记录
//
//	// 导入模块
//	import . "github.com/go-jet/jet/v2/mysql"
//
//	// 语句示例
//	table.Demo.SELECT(table.Demo.AllColumns).WHERE(table.Demo.Name.LIKE(String("%hello%")))
//	SELECT(table.Demo.AllColumns).FROM(table.Demo).WHERE(table.Demo.Name.LIKE(String("%hello%")))
//
//	// 查询方法
//	db.FindAll[model.Demo](ctx, db.DB(), stmt)
func FindAll[T any](ctx context.Context, db *sql.DB, stmt SelectStatement) ([]T, error) {
	// SQL日志
	slog.InfoContext(ctx, UglySQL(stmt.DebugSql()))

	var dest []T
	if err := stmt.QueryContext(ctx, db, &dest); err != nil {
		return nil, err
	}
	return dest, nil
}

// FindAllF 查询多条记录
//
//	// 导入模块
//	import . "github.com/go-jet/jet/v2/mysql"
//
//	// 查询方法
//	return db.FindAllF[model.Demo](ctx, db.DB(), func(query SelectStatement) SelectStatement {
//		return query.FROM(table.Demo.Table).WHERE(table.Demo.Name.LIKE(String("%hello%")))
//	}, table.Demo.AllColumns...)
func FindAllF[T any](ctx context.Context, db *sql.DB, fn func(query SelectStatement) SelectStatement, cols ...Column) ([]T, error) {
	if len(cols) == 0 {
		return nil, errors.New("missing table columns")
	}

	stmt := fn(SELECT(ColumnList(cols)))

	// SQL日志
	slog.InfoContext(ctx, UglySQL(stmt.DebugSql()))

	var dest []T
	if err := stmt.QueryContext(ctx, db, &dest); err != nil {
		return nil, err
	}
	return dest, nil
}

// Count 返回记录数
//
//	// 导入模块
//	import . "github.com/go-jet/jet/v2/mysql"
//
//	// 查询方法
//	db.Count(ctx, db.DB(), func(count SelectStatement) SelectStatement {
//		return count.FROM(table.Demo.Table).WHERE(table.Demo.Name.LIKE(String("%hello%")))
//	})
func Count(ctx context.Context, db *sql.DB, fn func(count SelectStatement) SelectStatement) (int64, error) {
	stmt := fn(SELECT(COUNT(STAR).AS("count")))

	// SQL日志
	slog.InfoContext(ctx, UglySQL(stmt.DebugSql()))

	var total struct {
		Count int64
	}
	if err := stmt.QueryContext(ctx, db, &total); err != nil {
		return 0, err
	}
	return total.Count, nil
}

// Paginate 分页查询
//
//	// 导入模块
//	import . "github.com/go-jet/jet/v2/mysql"
//
//	// 查询方法
//	db.Paginate[model.Demo](ctx, db.DB(), func(query SelectStatement) SelectStatement {
//		return query.FROM(table.Demo.Table).WHERE(table.Demo.Name.LIKE(String("%hello%")))
//	}, page, size, table.Demo.AllColumns...)
func Paginate[T any](ctx context.Context, db *sql.DB, fn func(query SelectStatement) SelectStatement, page, size int, cols ...Column) ([]T, int64, error) {
	if len(cols) == 0 {
		return nil, 0, errors.New("missing table columns")
	}

	stmtCount := fn(SELECT(COUNT(STAR).AS("count")))

	// SQL日志
	slog.InfoContext(ctx, UglySQL(stmtCount.DebugSql()))

	var total struct {
		Count int64
	}
	if err := stmtCount.QueryContext(ctx, db, &total); err != nil {
		return nil, 0, err
	}

	var dest []T
	if total.Count > 0 {
		if page <= 0 {
			page = 1
		}
		if size <= 0 {
			size = 20
		}

		stmtQuery := fn(SELECT(ColumnList(cols))).LIMIT(int64(size)).OFFSET(int64((page - 1) * size))

		// SQL日志
		slog.InfoContext(ctx, UglySQL(stmtQuery.DebugSql()))

		if err := stmtQuery.QueryContext(ctx, db, &dest); err != nil {
			return nil, 0, err
		}
	}
	return dest, total.Count, nil
}
