package curd

import (
	"strings"

	. "github.com/go-jet/jet/v2/mysql"
)

// M 用于 INSERT & UPDATE
type M map[Column]any

func (m M) Split() (cols ColumnList, vals []any) {
	cap := len(m)

	cols = make(ColumnList, 0, cap)
	vals = make([]any, 0, cap)

	for k, v := range m {
		cols = append(cols, k)
		vals = append(vals, v)
	}
	return
}

func UglySQL(sql string) string {
	s := strings.ReplaceAll(sql, "\n", " ")
	return strings.TrimSpace(s)
}
