package log

import (
	"context"
	"io"
	"log/slog"
	"os"

	"github.com/noble-gase/ne/helper"
	"github.com/noble-gase/ne/metadata"
)

var hostname, _ = os.Hostname()

type contextHandler struct {
	slog.Handler
}

func (h *contextHandler) Handle(ctx context.Context, r slog.Record) error {
	// hostname
	r.AddAttrs(slog.String("hostname", hostname))

	// metadata
	if md, ok := metadata.FromIncomingContext(ctx); ok && len(md) != 0 {
		if traceId := md.Get(helper.XTraceId); len(traceId) != 0 {
			r.AddAttrs(slog.String(helper.XTraceId, traceId[0]))
		}
	}

	return h.Handler.Handle(ctx, r)
}

func NewContextHandler(w io.Writer, opts *slog.HandlerOptions) slog.Handler {
	return &contextHandler{
		Handler: slog.NewJSONHandler(w, opts),
	}
}
