package main

import (
	"fmt"

	"{{.Module}}/internal/{{.AppPkg}}/cmd"

	"github.com/common-nighthawk/go-figure"
)

func main() {
	figure.NewFigure("{{.AppName}}", "", true).Print()
	fmt.Println()

	cmd.Init()
}
