package status

import (
	"context"

	"github.com/noble-gase/ne/codes"
	gcodes "google.golang.org/grpc/codes"
	"google.golang.org/grpc/status"
)

func Error(ctx context.Context, err error) error {
	code := codes.FromError(err)
	return status.Error(gcodes.Code(code.Val()), code.Msg())
}
