package cache

import (
	"context"
	"crypto/tls"
	"fmt"
	"time"

	"github.com/noble-gase/ne/closekit"
	"github.com/noble-gase/ne/redkit"
	"github.com/redis/go-redis/v9"
	"github.com/redis/go-redis/v9/maintnotifications"
	"github.com/spf13/viper"
)

func New(cfgName string) redis.UniversalClient {
	var cfg redkit.Config
	if err := viper.UnmarshalKey(cfgName, &cfg); err != nil {
		panic(fmt.Errorf("Redis(%s) init failed: %w", cfgName, err))
	}

	opts := &redis.UniversalOptions{
		Addrs: cfg.Addrs,
		MaintNotificationsConfig: &maintnotifications.Config{
			Mode: maintnotifications.ModeDisabled,
		},
		Username:        cfg.Options.Username,
		Password:        cfg.Options.Password,
		DialTimeout:     time.Duration(cfg.Options.DialTimeout) * time.Second,
		ReadTimeout:     time.Duration(cfg.Options.ReadTimeout) * time.Second,
		WriteTimeout:    time.Duration(cfg.Options.WriteTimeout) * time.Second,
		PoolSize:        cfg.Options.PoolSize,
		PoolTimeout:     time.Duration(cfg.Options.PoolTimeout) * time.Second,
		MinIdleConns:    cfg.Options.MinIdleConns,
		MaxIdleConns:    cfg.Options.MaxIdleConns,
		MaxActiveConns:  cfg.Options.MaxActiveConns,
		ConnMaxIdleTime: time.Duration(cfg.Options.ConnMaxIdleTime) * time.Second,
		ConnMaxLifetime: time.Duration(cfg.Options.ConnMaxLifetime) * time.Second,
	}
	if cfg.Options.InsecureSkipVerify {
		opts.TLSConfig = &tls.Config{
			InsecureSkipVerify: true,
		}
	}
	client := redis.NewUniversalClient(opts)

	ctx, cancel := context.WithTimeout(context.Background(), time.Second*10)
	defer cancel()

	// verify connection
	if err := client.Ping(ctx).Err(); err != nil {
		_ = client.Close()
		panic(fmt.Errorf("Redis(%s) init failed: %w", cfgName, err))
	}

	closekit.Add(cfgName, closekit.P80, func() error {
		return client.Close()
	})

	return client
}
