package server

import (
	"fmt"
	"net/http"
	"time"

	"{{.Module}}/pkg/middleware"

	"github.com/mark3labs/mcp-go/server"
)

func NewSSEServer(baseURL string) *server.SSEServer {
	// Create a new MCP server
	srv := server.NewMCPServer("Demo MCP Server", "1.0.0",
		server.WithToolCapabilities(true),
		server.WithToolHandlerMiddleware(middleware.Recovery),
		server.WithToolHandlerMiddleware(middleware.Header),
		server.WithToolHandlerMiddleware(middleware.Log),
	)
	AddTools(srv)

	// Create the sse server
	sse := server.NewSSEServer(srv,
		// Configure keep-alive
		server.WithKeepAlive(true),

		// Configure keep-alive interval
		server.WithKeepAliveInterval(20*time.Second),

		// Set base URL for client connections
		server.WithBaseURL(baseURL),

		// Set the base path for SSE endpoints
		server.WithStaticBasePath("/mcp/demo"),

		// Configure SSE and message endpoints
		server.WithSSEEndpoint("/sse"),
		server.WithMessageEndpoint("/message"),
	)
	return sse
}

func ServeSSE(srv *server.SSEServer, addr string) {
	fmt.Println("Serving SSE on", addr)
	if err := srv.Start(addr); err != nil && err != http.ErrServerClosed {
		panic(fmt.Errorf("ServeSSE: %w", err))
	}
}
