package greeter

import (
	"context"

	"{{.Module}}/pkg/{{.AppPkg}}/api"
)

func (g *greeter) SayHello(ctx context.Context, in *api.HelloRequest) (*api.HelloResponse, error) {
	return &api.HelloResponse{Message: "Hello " + in.Name}, nil
}
