package middleware

import (
	"net/http"

	"{{.Module}}/{{.ApiPkg}}"
	"{{.Module}}/pkg/identity"

	"github.com/noble-gase/ne/result"
)

// Auth App授权中间件
func Auth(next http.Handler) http.Handler {
	return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		iidentityId := identity.GetIdentityId(r.Context())
		if iidentityId == 0 {
			result.Err({{.ApiName}}.Code_ErrAuth).JSON(w, r)
			return
		}
		// TODO ...
		next.ServeHTTP(w, r)
	})
}
